<html>
<body>

<p><font size="20" color="orange" face="Times New Roman">News</font></p>
<%= button_to "login", action: "login" %>
 <tbody>
 <% @news.each do |f| %>
   <tr>
     <tr><%= f.news_desk.first(100) %></tr>
     <tr><%= image_tag(f.image_news, :width => 300) if f.image_news.attached? %></tr>
     <tr><%= link_to "delete", delete_path(f), class: "pages" %></tr>
   </tr>
 <% end %>
</tbody>
</body>
</html>